body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f2eff5;
    color: #392467;
    line-height: 1.6;
}
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar .nav-link {
    color: #392467;
    margin-right: 1rem;
}

.navbar .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #5D3587;
    text-decoration-thickness: 2px;
}


.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-bottom: 1em;
}

.navbar .navbar-brand {
    color: #392467;
    font-size: 2rem;

    font-family: 'Merriweather Sans', sans-serif;
}


.navbar .nav-link {
    color: #392467;
    margin-right: 1rem;

    font-family: 'Merriweather Sans', sans-serif;
}

.navbar .form-control {
    margin-right: .5rem;
}

.member-picture {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-right: 10px;
}

.search_button {


    height: 35px;
    padding: 5px;
    background-color: #5D3587;
    border-color: #5D3587;
    border-radius: 5px;
    color: #fff;

    transition: all 0.3s ease;

    font-family: 'Merriweather Sans', sans-serif;
}

.search_button:hover {
    background-color: #392467;
    color: #fff;
    border-color: #5D3587;

}

#homeLink{
    color: #392467;

    margin-right: 1rem;

}

.notifIcon{
    margin-left: 0px;
    width: 25px;
    margin-top: 10px;
    margin-right: 5px;
}


.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #5D3587;
    border-color: #5D3587;
}

.btn-primary:hover {
    background-color: #392467;
    border-color: #392467;
}

.CreateQ-mulChoice4{
    background-color: rgb(245, 243, 247);
    border-radius: 5px;
    height:100%;
    margin-bottom: 2em;
    margin-top: 2em;

}
.CreateQ{
    height:100%;
    margin-bottom: 2em;
    margin-top: 2em;

}
.inner{
    margin: 2em ;
}

.addText{
    display: inline-block;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-family: 'Merriweather Sans', sans-serif;
}

.icon{
    margin-left: 1.5em;
    margin-top: -0.8em;
}
.CreateQ-TrueFalse{
    background-color: rgb(245, 243, 247);
    border-radius: 5px;
    height:100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.CreateQ-longAnswer{
    background-color: rgb(245, 243, 247);
    border-radius: 5px;
    height:100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.question-types {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.question-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 243, 247);
    border-radius: 8px;
}

.question-box .btn {
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 40px;
    border: none;
}

.icon {
    width: 40px;
    height: 40px;
}
.select{
    border: none;
    background-color: rgb(245, 243, 247);
    color: #392467;

}

.addMulChoiceIcon{
    margin-right: 1.5em;
    margin-bottom: 0.7em;
    width: 40px;
    height: 40px;
}

.addTrueFalseIcon{
    margin-right: 1.5em;
    margin-bottom: 0.7em;
    width: 40px;
    height: 40px;
}

.addLongAnsIcon{
    margin-right: 1.3em;
    margin-bottom: 0.8em;
    width: 40px;
    height: 40px;
}

.AddQuestionButton{
    background-color: #5D3587;
    border-color: #5D3587;
    margin-bottom: 1em;
    color: #fff;
    border-radius: 5px;
}
.AddQuestionButton:hover{
    background-color: #392467;
}

.newDate{
    margin-top: 1em;
    margin-bottom: 0.5em;
}