body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f2eff5;
    color: #333;
    line-height: 1.6;
}

.poll-container {
    width: 100%;
    max-width: 550px;
    background-color: #fff;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 5px;
}

.poll-question p {
    text-align: center;
    color: #392467;
    size: 1.5em;
    font-family: 'Merriweather Sans', sans-serif;
}

.poll-option {
    margin: 1rem 0;
}

.option-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.option-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.option-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.option-container input:checked ~ .checkmark {
    background-color: #5D3587;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.option-container input:checked ~ .checkmark:after {
    display: block;
}

.option-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.progress-bar {
    background-color: #e2e6ea;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
   
}

.progress {
    background: linear-gradient(#5D3587,#392467);
    color: #fff;
    font-size: 0.5em;
    text-align: center;
    padding: 5px 10px;
    line-height: 25px;
    transition: width 0.6s ease;
    overflow: hidden;
    white-space: nowrap;
    height: 1.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 2.5em;
    
   
    
}

.submit-btn {
/*display:none;*/
    width: 100%;
    background-color: #5D3587;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #392467;
}


.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar .nav-link {
    color: #392467;
    margin-right: 1rem;
}

.navbar .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #5D3587;
    text-decoration-thickness: 2px;
}


.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-bottom: 1em;
}

.navbar .navbar-brand {
    color: #392467;
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Merriweather Sans', sans-serif;
}


.navbar .nav-link {
    color: #392467;
    margin-right: 1rem;

    font-family: 'Merriweather Sans', sans-serif;
}

.navbar .form-control {
    margin-right: .5rem;
}

.member-picture {
    width: 65px; 
    height: 65px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #fff; 
    margin-right: 10px; 
  }

  #search_button {
    
    background-color: #e2e6ea;
    height: 35px;
    padding: 5px;
   
    color: #392467;
    border-color: #5D3587;
    transition: all 0.3s ease;

    font-family: 'Merriweather Sans', sans-serif;
}

#search_button:hover {
    background-color: #5D3587;
    color: #ffffff;
    border-color: #5D3587;
}

#homeLink{
    color: #392467;
}

#notifIcon{
    margin-right: 5px;
}
#notifIcon{
    margin-left: 0px;
    width: 25px;
    margin-top: 10px;
}

#StudentGrade{
    color: #392467;
}

#studentCourse{
    color: #392467;
}

#studentCourse:hover {
    background-color: #5D3587;
    color: #ffffff;
    border-color: #5D3587;
}

#StudentGrade:hover {
    background-color: #5D3587;
    color: #ffffff;
    border-color: #5D3587;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #5D3587;
    text-decoration-thickness: 2px;
}

/*.hidden {
    display: none;
}*/

